.button {
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin-top: 5%;
}

#welcome-message {
    text-align: center;
    left: 30%;
    right: 30%;
    top: 40%;
    z-index: 100;
    position: fixed;
}

#answer {
    padding: 20px;
}

li:hover {
    background-color: gray;
    width: 20%;
}